* , html, body{
    padding:0;
    margin:0;
    min-width:0;
}

.bg-cyan{
    background-color: cyan;
}

.header{
    padding: 10px 0;
    text-align: center;
}
.container {
    margin: 5px 0;
    text-align: center;
}
