.row{
    margin: 5px 0;

}
.label{
width: 20%;
display: inline-block
}

.form-control{
    width:50%;
}

.form-control-radio{
    width:30px;
}
.wrap{
    vertical-align: middle;
    display:table-cell;
}
